---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Test+Customer&email=test%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - f7043352-4fd5-4a96-b67d-c11793491622
      Stripe-Version:
      - '2024-04-10'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f7043352-4fd5-4a96-b67d-c11793491622
      Original-Request:
      - req_RRXAMwnkTnR77I
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<STRIPE_CUSTOMER_ID>",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1755260842,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@example.com",
          "invoice_prefix": "YVTWASDC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Test Customer",
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 15 Aug 2025 12:27:22 GMT
recorded_with: VCR 6.3.1
