---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Test+Company&email=company%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 51d3450c-c5dc-4a05-937b-bac59181d438
      Stripe-Version:
      - '2024-04-10'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 51d3450c-c5dc-4a05-937b-bac59181d438
      Original-Request:
      - req_9yJ3eCQsPfacsh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<STRIPE_CUSTOMER_ID>",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1755260842,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "company@example.com",
          "invoice_prefix": "BJO6YM3J",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Test Company",
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 15 Aug 2025 12:27:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_Ss6xmGo2tMUppv&payment_method_types[0]=us_bank_account&usage=off_session
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 4fd9a7ff-8197-4956-941d-50ee9023af9f
      Stripe-Version:
      - '2024-04-10'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4fd9a7ff-8197-4956-941d-50ee9023af9f
      Original-Request:
      - req_jeZYQfNgRi40He
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<STRIPE_SETUP_INTENT_ID>",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "<STRIPE_SETUP_INTENT_ID>_secret_Ss6xdsxKg4FTzfI2wYyp1jAZie4sLso",
          "created": 1755260843,
          "customer": "cus_Ss6xmGo2tMUppv",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "us_bank_account": {
              "mandate_options": {},
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Fri, 15 Aug 2025 12:27:23 GMT
recorded_with: VCR 6.3.1
