---
# Global VCR cassette for Playwright Stripe requests
# This will be automatically loaded when PLAYWRIGHT_TEST=true
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_1LS2aCFSsGLfTpetJF5ZbTzr?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "<STRIPE_SETUP_INTENT_ID>",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1LS2aCFSsGLfTpetJF5ZbTzr_secret_MANKZoxPk7FuMFb5jshwnLTQqBpWYu8",
          "created": 1659375552,
          "customer": "<STRIPE_CUSTOMER_ID>",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1LS2bAFSsGLfTpetdQeunp7j",
          "livemode": false,
          "mandate": "mandate_1LS2bBFSsGLfTpetzyxTIQ8Q",
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": {
            "id": "<STRIPE_PAYMENT_METHOD_ID>",
            "object": "payment_method",
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": "test@example.com",
              "name": "Test User",
              "phone": null
            },
            "created": 1659375612,
            "customer": "<STRIPE_CUSTOMER_ID>",
            "livemode": false,
            "metadata": {},
            "type": "us_bank_account",
            "us_bank_account": {
              "account_holder_type": "individual",
              "account_type": "checking",
              "bank_name": "STRIPE TEST BANK",
              "financial_connections_account": null,
              "fingerprint": "fyuVQhio0NPi5cGK",
              "last4": "6789",
              "networks": {
                "preferred": "ach",
                "supported": [
                  "ach"
                ]
              },
              "routing_number": "110000000",
              "status_details": {}
            }
          },
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method",
                  "balances"
                ],
                "prefetch": []
              },
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Thu, 08 Aug 2024 17:03:46 GMT
recorded_with: VCR 6.1.0